.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

rect.histogramBars:hover {
  stroke: #0000ff;
  stroke-width: 1;
  fill: #0000ff;
}

rect.noHighlight {
  pointer-events: none;
}

svg text {
  pointer-events: none;
}

body {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 48px;
}

fieldset {
  background: -webkit-linear-gradient(bottom, #fff4b3, #fffbe6 175px);
  background: -moz-linear-gradient(bottom, #fff4b3, #fffbe6 175px);
  background: linear-gradient(bottom, #fff4b3, #fffbe6 175px);
  margin: auto;
  position: relative;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

body {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #eeeeee 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #eeeeee 175px);
  background: linear-gradient(bottom, #CCCCCC, #eeeeee 175px);
}

input[type="number"] {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  text-align: right;
}

input[type="submit"] {
  width: 200px;
  background: #ffd700;
  color: #000000;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 36px;
  font-weight: bold;
  height: 60px;
  border-radius: 10px;
  border: 1p solid #999;
}

input.submit:hover {
  background: #fff;
  color: #09C;
}

input[type="checkbox"] {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-top;
}

form {
  margin: auto
}

h2 {
  margin: auto
}

.raligner {
  float: right;
  clear: right;
  margin: auto;
}

li.form {
    background: #eeeeee;
    margin: 2px;
}
